* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

/* index.html */

.box-start {
    box-sizing: border-box;
    border: 10px solid black;
    width: 90vmax;
    height: 40vmax;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

/* quizGame.html */

h1 {
    padding: 20px;
}

.headline {
    text-align: center;
    font-size: 2rem;   
    padding: 20px; 
    margin: 0;
}

.header {
    text-align: center;
    font-size: 2rem;   
}


.gamepad {
    padding-right: 10px;
    font-size: 3rem;
}

.box {
    box-sizing: border-box;
    border: 10px solid black;
    width: 90vmax;
    height: 40vmax;
    align-items: center;
    display: flex;
    
}

.questions {
    margin: 5px;
    height: 90%;
    box-sizing: border-box;
    border: 5px solid black;
    flex: 1;
    overflow: hidden;
    text-align: center;    
}

#myQuestion {
    padding-top: 50%;
}

.points {
    position: absolute;
    bottom: 10px;
    right: 20px;
}


.answerBox {
    margin: 5px;
    height: 90%;
    box-sizing: border-box;
    border: 5px solid black;
    overflow: hidden;
}

.myAlternatives {
    padding-top: 25%;
}

.alt {
    padding-left: 10px;
    list-style-type: none;
}

.nextQuestion {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

